# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\phpstudy_pro\WWW\www.myblog1.com\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
